* {
  background-color: lightblue;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100vw;
}

body {
  display: flex;
  padding-top: 20px;
  font-family: 'Segoe UI', Tahoma, sans-serif;
  text-align: center;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  gap: 10px;
}

.book-list {
  border-collapse: collapse;
  width: 100%;
  margin: 20px 0;
  font-size: 18px;
  text-align: left;
}

.book-list th,
.book-list td {
  border: 3px solid white;
  padding: 8px;
}

.button-common {
  margin-right: 5px;
  padding: 5px 10px;
  border: none;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button-common:hover {
  opacity: 0.8;
}

.book-list .actions button {
  border-radius: 20px;
}

.book-list .actions button:nth-child(1) {
  background-color: #1e90ff;
}

.book-list .actions button:nth-child(1):hover {
  background-color: #1c86ee;
}

.book-list .actions button:nth-child(2) {
  background-color: #ffd700;
}

.book-list .actions button:nth-child(2):hover {
  background-color: #ffcc00;
}

.book-list .actions button:nth-child(3),
.clear-btn {
  background-color: #ff4500;
}

.book-list .actions button:nth-child(3),
.clear-btn:hover {
  background-color: #ff1a1a;
}

.add-new-btn {
  background-color: darkgreen;
  border-radius: 20px;
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  color: white;
  border-radius: 20px;
  transition: background-color 0.3s;
}

.add-new-btn:hover {
  background-color: #006400;
}

.book-img {
  display: flex;
  height: 100%;
}

.book-img img {
  height: 100px;
  width: 100px;
}

.book-info-txt {
  resize: none;
  overflow: auto;
  width: 100%;
  box-sizing: border-box;
}

.book-details,
.book-update {
  width: 400px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

.book-details table,
.book-update table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.book-details td,
.book-update td {
  padding: 10px;
  vertical-align: top;
}

.book-details label,
.book-update label {
  font-weight: bold;
  margin-right: 10px;
}

.book-details button,
.book-update button,
.toggle-filter-btn {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.book-details button:hover,
.book-update button:hover,
.toggle-filter-btn:hover {
  background-color: #45a049;
}

.book-update .close-btn {
  background-color: #ff4d4d;
  margin-top: 10px;
}

.book-update .close-btn:hover {
  background-color: #ff1a1a;
}

.filter-container {
  text-align: center;
  max-height: 100%;
  padding: 3px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}

.filter-container.hidden {
  max-height: 60px;
}

.filter-table {
  width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
}

.filter-table input {
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

.price-ranges-table {
  padding: 10px;
  margin: 5px 0;
  border: 10px solid white;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

.popup-message {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #333;
  color: white;
  padding: 15px;
  border-radius: 5px;
  display: none;
  opacity: 0;
  transition: opacity 0.5s;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination-btn {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 20px;
  transition: background-color 0.3s;
}

.pagination-btn:hover {
  background-color: #0056b3;
}

button {
  cursor: pointer;
}
