* {
  background-color: lightblue;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100vw;
}

body {
  display: flex;
  padding-top: 20px;
  font-family: 'Segoe UI', Tahoma, sans-serif;
  text-align: center;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  gap: 10px;
}

.book-list {
  border-collapse: collapse;
  width: 100%;
  margin: 20px 0;
  font-size: 18px;
  text-align: left;
}

.book-list th,
.book-list td {
  border: 3px solid white;
  padding: 8px;
}

.book-list .actions button,
.add-new-btn {
  margin-right: 5px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.book-list .actions button:nth-child(1) {
  background-color: #1e90ff;
}

.book-list .actions button:nth-child(2) {
  background-color: #ffd700;
}

.book-list .actions button:nth-child(3) {
  background-color: #ff4500;
}
.add-new-btn {
  background-color: darkgreen;
}
